*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url('https://cdn.pixabay.com/photo/2014/11/21/12/13/man-540500_960_720.jpg');
    background-size: cover;
    background-position: center;
}